.Jokes {
  min-width: 80vw;
  padding: 30px;
  min-height: 170px;
  background-color: white;
  border: 1px solid rgb(173, 173, 173);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 18px;
}
.JokesParagraph {
  width: 60vw;
  text-align: center;
  margin: auto;
  font-size: 22px !important;
  min-height: 80px;
}

.Jokes>button{
  /* height: 20px; */
  padding: 10px;
  font-size: 18px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
  width: 45vw;
  margin: auto;
}

.MainJokes {

  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.74);
}
